

<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <th>id</th>
                <th>fullName</th>
                <th>mobileNumberth>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th></th>
                <th></th>
                <th></th> -->
            </thead>
        </table>
        <tbody>
            <tr *ngFor='let s of schedules'>
            <td>{{s.id.toString()}}</td>
            <td>{{s.fullName}}</td>
            <td>{{s.mobileNumber}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td></td>
            <td></td>
            <td></td> -->

        </tr>
        </tbody>
    </div>
</div>

